.catcheye {
  color: red;
  font-weight: 900;
  font-size: large;
  background-color: blue;
}

div.leftcolumn{
  float: left;
 
}

div.rightcolumn{
  float: right;
  
}

ul {
  text-align: center;
}
div.centercolumn{
  border: 5px solid darkblue;
  padding: 5px;
  margin: 250px;
  background-color: salmon;
  float: center;
  text-align: center;
}
