.catcheye {
  color: red;
  font-weight: 900;
  font-size: large;
  background-color: blue;
}

div.leftcolumn{
  float: left;
 
}

div.rightcolumn{
  float: right;
  
}

div.centercolumn{
  border: 2px;
  padding: 5px;
  margin: 25px;
  text-align: center;
  background-color: salmon;
  text-align: center;
}
