.doctor img{
  background-color: skyblue;
}
.engineer img{
  background-color: salmon;
}

.doctor ol {
  text-align: center;
  margin-right: 50%;
  margin-left: 45%;
  background-color: salmon;
 }
 .engineer ol {
   text-align: center; 
   margin-right: 50%;
   margin-left: 45%;
   background-color: lightblue;
 }

div.doctor{
  border: 5px solid darkblue;
  padding: 5px;
  margin: 50px;
  background-color: lightgray;
  float: center;
  text-align: center;
}

div.enginer{
  border: 5px solid green;
  padding: 5px;
  margin: 50px;
  background-color: lightgray;
  float: center;
  text-align: center;
}
